h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: Helvetica;
}

.label {
  font-size: 2em;
  color: #347C17;
}

h2 {
  text-align: center;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #0000FF;
  font-size: 1em;
}

.logo {
  float: left;
  width: 24%;
  height: 210px;
  text-align: center;
  }

  .logo a {
    font-size: 1.5em;
  }


    .logo a img {
      height:  100px;
    }

.footer {
  width: 50%;
}
