h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: Helvetica;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.logo {
  float: left;
  width: 33%;
  height: 210px;
  text-align: center;
  }

  .logo a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    font-family: Verdana;
    font-size: 2em;
    }

    .logo a img {
      height:  100px;
    }
